<%- include("partials/header") %>

<div class="container mt-5">
    <h4 class="my-3">Delete "<%= project.title %>"?</h4>
    <img class="w-50" src="<%= project.image %>" alt="">
    <form class="mt-2" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
        <input class="btn btn-info" type="button" onclick="history.go(-1);" value="Back">
    </form>
</div>

<%- include("partials/footer") %>
