<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Projects</h1>
        <% if(currentUser) { %>
        <a class="btn btn-success mt-5" href="/projects/new">Upload New Project</a> 
        <% } %>
    </div>
    <div class="row">
        <% projects.forEach((project) => { %>
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="card cardProperty">
                <a href="/projects/<%= project._id %>"><img class="card-img-top cardImg rounded border" src="<%= project.image %>" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title"><%= project.title %></h4>
                    <% if(project.description.length <= 30){ %>
                        <p class="text-indent"><%= project.description %></p>
                    <% } else { %>
                        <p class="text-indent"><%= project.description.substring(0, project.description.indexOf(" ", 45)) %>...</p>
                    <% } %>
                      
                    <a id="more-info" href="/projects/<%= project._id %>">More Info</a>
                </div>
            </div>
            <% if(project == projects[projects.length -1]){ %>
                <br class="break-rule">
            <% } else { %>
                <p id="dotted-line">. . .</p>
            <% } %>
            
        </div>
        <% }); %>
    </div>
</div>


<%- include("partials/footer") %>