<%- include("partials/header") %>

<div class="container-fluid text-center mt-4">
    
    <h1><a class="text-decoration-none" href="<%= project.link %>" target="_blank"><%= project.title %></a></h1>
    <div>
        <a href="/projects"><i id="back-arrow" class="fas fa-arrow-left"></i></a>
        <div id="imgContainer">
            <a href="<%= project.link %>" target="_blank"><img id="showImg" class="rounded my-4 imgProperty" src="<%= project.image %>" alt=""></a>
        </div>
        <% let date = project.created_at; %>
        <% let d = date.getDate(); %>
        <% let m = date.getMonth() + 1; %>
        <% let y = date.getFullYear() %>
        <p id="createdAt">Uploaded on: <%= d + '/' + m + '/' + y %></p>   
    </div>
    <p class="text-left text-property"><%= project.description %></p>
</div>
<br>



<%- include("partials/footer") %>